
@media screen and (max-width: 599px) {

  .Content {
  }

  .HeaderBar {
      margin: 8px;
      font-size: 36px;
  }

  .R-Floral {
    display: none;
  }

  .L-Floral {
    display: none;
  }

  .Question {
    font-size: large;
    margin: 10px 10px;
  }
  
  .Answer {
      font-size: medium;
      display: inline-block;
      text-align: left;
  }


  .NavBar .NavLinks {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
  }

  .NavBar .NavLinks.show {
    transform: translateY(0);
  }

  .NavBar .NavLinks .NavBarItem {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .burger {
    display: block;
    position: fixed;
    background-color: #000;
    bottom: 0;
    right: 2.5%;
    padding: 12px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px 0px #aaaaaa
  }

  .NavLinks {
    position:relative;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    background-color:rgb(255, 214, 221);
  }

  .NavBarItem {
    padding: 10px;
  } 


  .NavBarItem:hover,
  .NavBarItem:focus {
    background-color: rgb(237, 164, 255);
  }


  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .ContentPage {
    max-width: 100%;
    margin: 0px 10px;
    margin-bottom: 200px;
  }
  
  img {
    max-width: 100%;
  }

  .Card {
    margin: 8px;
    max-width: 90%;
    max-height: 70%;
    background: rgba(255, 246, 241, 0.8);
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(25, 25, 25, 0.107); 
  }

  .ContentHeader {
    font-family: "Playfair Display";
    font-weight: bold;
    color: rgb(8, 0, 123);
    border-bottom: solid rgb(8, 0, 123) 2px;
    text-align: center;
    margin: 20px 0px;
    font-size: 20px;
  }
  
  .ContentBody {
    padding: 16px;
    font-size: large;
    display: inline-block;
    text-align: left;
  }

  .Timeline .ContentBody {
    text-align: left;
    margin: 0px 10px;
    display: block;
    padding: 20px 30px;
  }

  .NavHamburger {
    float: right;
  }

  .button-container {
    width: 100%;
  }

  .filled-button {
    font-size: 20px;
    padding: 3px;
    box-shadow: 6px 6px;
    margin: auto;
    margin-left: 12px;
  }

}