@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #fff6f4; 
  color: black;
  text-align:center;
}

img {
  max-width: 400px;
}

.HeaderBar {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  padding: 0px 10px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 26px;
  font-family: 'Playfair Display';
  text-align: center;
  font-weight: 500;
  font-size: 56px;
  color:rgb(8, 0, 123);
  border-bottom: 8px solid #C4848B;
  border-top: 8px solid #C4848B;
  box-shadow: 8px 8px;

}

.HeaderBar div {
  background-color: #fff6f4;
  position: relative;
  margin: 0 auto;
}

/* .HeaderBar img {
  display: inline-block;
} */

.NavBar {
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

.NavHamburger {
  padding-right: 20px;
  cursor: pointer;
}

.NavHamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.NavBarItem {
  font-family: 'Playfair Display', serif;
  color:rgb(8, 0, 123);
  display: inline-block;
  transition: 0.3s;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
}

.ContentPage {
  margin: 20px 200px;
  margin-bottom: 100px;
  background: white;
  height: 100%;
  padding: 30px;
  padding-bottom: 50px;
  max-width: 1000px;
  border-radius: 1px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: -3px 5px 10px 2px rgba(179, 166, 161, 0.308);
} 

.ContentBody {
  font-size: 18px;
  font-family: "Assistant";
  color: rgb(8, 0, 123);
  text-align: justify;
  padding: 20px 50px;
  max-width: 400px;
}

.Timeline .ContentBody {
  border-left: 1px solid #abaaed;
  margin: 0px 100px;
  position: relative;
}

.Timeline .ContentBody::before {
  content: '';
  width: 15px;
  height: 15px;
  
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;

}

.Bullets li {
  width: 100%;
  margin-left: 65px;
  text-align: left;
}

.ContentHeader {
  font-size: 22px;
  font-family: "Playfair Display";
  font-weight: bold;
  color: rgb(8, 0, 123);
  border-bottom: solid rgb(8, 0, 123) 2px;
  text-align: justify;
  margin: 20px 50px;
  overflow: hidden;
  text-align: left;
}

.map {
  height: 400px;
  width: 100%;
}

.L-Floral {
  position: absolute;
  top: 25%;
  right: 70%;
  z-index: -1;
}

.R-Floral {
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: -1;
}

#home {
  font-family: 'Assistant', sans-serif;
}

.filled-button {
  font-size: 24px;
  font-weight: bold;
  border: solid #C4848B 5px;
  background-color: #C4848B;
  border-radius: 8px;
  padding: 10px;
  text-decoration: none;
  box-shadow: 10px 10px;
  transition: 300ms;
}


.Left {
  float: left;
}

.Right {
  float: right;
}


.Center {
  margin: auto;
}