@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #fff6f4; 
  color: black;
  text-align:center;
}

.HeaderBar {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  display: inline-block;
  margin: 0 auto;
  margin-top: 26px;
  font-family: 'Playfair Display';
  text-align: center;
  font-weight: 500;
  font-size: 56px;
  color:rgb(8, 0, 123);
  background-image: url('../images/flower1.png');
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 8px solid #C4848B;
  border-top: 8px solid #C4848B;
  box-shadow: 8px 8px;

}

.HeaderBar div {
  background-color: #fff6f4;
  position: relative;
  margin: 0 auto;
}

/* .HeaderBar img {
  display: inline-block;
} */

.NavBar {
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

/* .NavHamburger {
  padding-right: 20px;
  cursor: pointer;
}

.NavHamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
} */

.NavLinks {
  display: block;
  position: static;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  background: none;
  
}

.NavBarItem {
  font-family: 'Playfair Display', serif;
  color:rgb(8, 0, 123);
  display: inline-block;
  transition: 0.3s;
  border-radius: 4px;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
}

.L-Floral {
  position: absolute;
  top: 25%;
  right: 70%;
  z-index: -1;
}

.R-Floral {
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: -1;
}

#home {
  font-family: 'Assistant', sans-serif;
}