@media screen and (min-width: 600px) {

  .NavBar {
      margin-top: 40px;
  }

  .NavLinks {
    display: block;
    position: static;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    background: none;
  }

  .NavBarItem {
    display: inline-block;
    padding: 10px 40px;
    transition: 0.3s;
    border-radius: 4px;
    background-color: #fc297f;
  }

  .NavBarItem:focus {
    box-shadow: 0px 6px 10px -6px #fc297f;
    transform: translateY(-0.1em);
    animation-name: perspectiveLeft;
    animation-duration: 1000ms;
  }

 .content:focus {
    animation-name: perspectiveLeft;
    animation-duration: 1000ms;
    /* animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; */
  }
  
  @keyframes cssAnimation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateZ(-90deg);
    }
  }

  .NavHamburger {
    display: none;
  }
}

/* .perspectiveLeft {
  -webkit-animation-name: perspectiveLeft;
  animation-name: perspectiveLeft;
}
@-webkit-keyframes perspectiveLeft {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(-180deg);
    transform: perspective(800px) rotateY(-180deg);
  }
}
@keyframes perspectiveLeft {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(-180deg);
    transform: perspective(800px) rotateY(-180deg);
  }
} */
